.home{
    background-color: rgb(231,231,231);
}
.carousel-control-next,.carousel-control-prev{
    width: 4%;
}

.carousel-indicators{
    bottom: -4%;
}
.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    background-size: 75%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
.btn1{
    background-color: rgb(255,112,4);
}
.btn1:hover{
    background-color: black;
    color: rgb(255,112,4);
}

.cursoltext h2{
    font-size: 4rem;
}